<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
    </head>

    <body>

        <%- include('../includes/navbar.ejs') %>
            <main>
                <% if (studs.length > 0) { %>
                    <div class="grid">
                        <% for (let person of studs) { %>
                            <article class="card product-item m-3">
                                <header class="card__header m-2">
                                    <h2 class="product__title">
                                        <%= person.first_name  || person.name %>
                                            <%= person.last_name %>
                                    </h2>
                                    <p>
                                        <%= person.email %>
                                    </p>
                                </header>
                                <div class="card__actions m-3">
                                    <a href="/student/getValue?student_id=<%= person.student_id  || person.teacher_id %>" class="btn  btn-primary"> More Details</a>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/footer.ejs') %>